---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <article class="post">
    <!-- {% assign category = page.category %}
  {% if category == "matematica" %}
    <img src="{{ '/assets/images/matematica/imagem-matematica.jpg' | relative_url }}" alt="Imagem de Matemática">
  {% elsif category == "programacao" %}
    <img src="{{ '/assets/images/programacao/imagem-programacao.jpg' | relative_url }}" alt="Imagem de Programação">
  {% elsif category == "html5" %}
    <img src="{{ '/assets/images/html5/imagem-html5.jpg' | relative_url }}" alt="Imagem de HTML5">
  {% else %}
    <img src="{{ '/assets/images/default.jpg' | relative_url }}" alt="Imagem padrão">
  {% endif %}
 -->

    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%} {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name"
          >{{ page.author }}</span
        ></span
      >
      {%- endif -%}
    </p>

    <img
      src="{{ '/assets/images/' | append: category | append: '/imagem-' | append: category | append: '.jpg' | relative_url }}"
      alt="Imagem de {{ category }}"
    />

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
    endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</article>
